/* Body*/

.body{
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
}

/*Header*/

.header__navbar{
    background-color:#C13930;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 200px;
    padding: 1rem;
}

/* NavBar*/

#nav-link-a{
    text-decoration: none;
    text-transform: uppercase;
    color: floralwhite;
    font-weight: bold;
    font-size: 25px;
}

#nav-ul{
    display: flex;
    align-items: flex-end;
    background-color:#C13930;
    position: relative;
    z-index: 100;
}

/*Footer*/

.footer{
    background-color: #3B3444;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer a{
    color: mintcream;
    font-size: 1rem;
}

.footer p{
    color: mintcream;
    font-size: 1rem;
}



/* ANIMACIONES */

.logoHeader{
    max-height: 200px;
    max-width: 200px;
    transform-style: preserve-3d;
    animation: rotar 5s infinite linear;
}

@keyframes rotar {
    from{ transform: rotateY(0deg);
    }
    to { transform: rotateY(360deg);
    }
}

a{
    text-decoration: none;
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}

.imagenAsociacion{
    width: 100%;
}

/* Secciones */

/* Inicio*/

#inicio{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#inicio h2{
    background-color:#C13930;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.contenedorMapa{
    border: solid 2px black;
    margin-bottom: 4rem;
}

/* Historia*/

.contenedor {
    text-align:center;
    margin: 50px;
    padding: 30px;
    border: solid 1px #99A799;
    border-radius: 4px;
    background-color: white;
}

.contenedor h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Galeria Historia */

.imagenGaleria {
    width: 100%;
    height: 250px;
}

.gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "imagenUno imagenDos imagenTres"
        "imagenCuatro imagenCinco imagenSeis"
    ;
}

.imagenUno {
    grid-area: imagenUno;
}

.imagenDos {
    grid-area: imagenDos;
}

.imagenTres {
    grid-area: imagenTres;
}

.imagenCuatro {
    grid-area: imagenCuatro;
}

.imagenCinco {
    grid-area: imagenCinco;
}

.imagenSeis {
    grid-area: imagenSeis;
}

/*Actividades*/

.carousel-item p{
    background-color: #C13930;
    color: floralwhite;
    text-transform: uppercase;
}

.carousel-item h5{
    background-color: #C13930;
    color: floralwhite;
    text-transform: uppercase;
}

/*1927*/

#club1927 a{
    font-size: 50px;
    text-transform: uppercase;
}

#club1927 iframe{
    width: 476px;
    height: 476px;
}

/*Contacto*/

.form{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

/*VISTA MOVIL*/ 

@media only screen and (max-width:320px) {

    .header{
        height: 150px;
    }
    
    #nav-link-a{
        text-decoration: none;
        text-transform: uppercase;
        color: floralwhite;
        font-weight: bold;
        font-size: 15px;
    }

    .logoHeader{
        max-height: 100px;
        max-width: 100px;
    }

    #inicio h2{
        background-color:#C13930;
        color: white;
        font-size: 1rem;
        padding: 1rem;
    }
    
    #mapaGoogle{
        width: 240px;
        height: 180px;
    }


    .contenedor h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 0.9rem;
    }
    
    .contenedor p {
        font-size: 0.6rem;
    }

    .carousel-item h5{
        background-color: #C13930;
        color: floralwhite;
        text-transform: uppercase;
        font-size: 0.5rem;
    }

    #club1927 a{
        font-size: 20px;
        text-transform: uppercase;
    }

    #club1927 iframe{
        width: 150px;
        height: 150px;
    }

    .gridPadre {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:fio
            "imagenUno"
            "imagenDos"
            "imagenTres"
            "imagenCuatro"
            "imagenCinco"
            "imagenSeis"
        ;

    }

    .imagenUno {
        grid-area: imagenUno;
    }

    .imagenDos {
        grid-area: imagenDos;
    }

    .imagenTres {
        grid-area: imagenTres;
    }

    .imagenCuatro {
        grid-area: imagenCuatro;
    }

    .imagenCinco {
        grid-area: imagenCinco;
    }

    .imagenSeis {
        grid-area: imagenSeis;
    }

}

/* VISTA TABLET*/ 
@media only screen and (min-width:321px) and (max-width:768px) {
    

    .header{
        height: 180px;
    }

    #nav-link-a{
        text-decoration: none;
        text-transform: uppercase;
        color: floralwhite;
        font-weight: bold;
        font-size: 20px;
    }

    .logoHeader{
        max-height: 150px;
        max-width: 150px;
    }

    #inicio h2{
        background-color:#C13930;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }

    #mapaGoogle{
        width: 320px;
        height: 240px;
    }

    .contenedor h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    
    .contenedor p {
        font-size: 0.8rem;
    }
    
    .carousel-item h5{
        background-color: #C13930;
        color: floralwhite;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    #club1927 a{
        font-size: 30px;
        text-transform: uppercase;
    }

    #club1927 iframe{
        width: 200px;
        height: 200px;
    }

    .gridPadre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "imagenUno imagenDos"
            "imagenTres imagenCuatro"
            "imagenCinco imagenSeis"
        ;
    }

    .imagenUno {
        grid-area: imagenUno;
    }

    .imagenDos {
        grid-area: imagenDos;
    }

    .imagenTres {
        grid-area: imagenTres;
    }

    .imagenCuatro {
        grid-area: imagenCuatro;
    }

    .imagenCinco {
        grid-area: imagenCinco;
    }

    .imagenSeis {
        grid-area: imagenSeis;
    }

}