@import "variables";
@import "menu";


/* Body*/

.body{
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
}


/*Footer*/

/*mixin*/

@mixin parametrosFlex($display,$direccion,$alineacion){
    display: $display;
    flex-direction: $direccion;
    align-items: $alineacion;
}

.footer{
    background-color: $azul-logo;
    @include parametrosFlex(flex,column,center);

    a{
    color: mintcream;
    font-size: 1rem;
    }

    p{
    color: mintcream;
    font-size: 1rem;
    }
}

.imagenAsociacion{
    width: 100%;
}

/* Secciones */

/* Inicio*/

/* Map Get */

$estiloInicio:(
    color: white,
    tamanioFuente: 3 rem,
    padding: 1 rem,
    colorFondo: $rojo-logo,
);

#inicio{
    @include parametrosFlex(flex,column,center);
        h2{
            background-color: map-get($estiloInicio, colorFondo);
            color: map-get($estiloInicio, color);
            font-size: map-get($estiloInicio, tamanioFuente);
            padding: map-get($estiloInicio, padding);
        }

}

.contenedorImagen{
    width: 90%;
    height: 90%;
}

.contenedorMapa{
    border: solid 2px black;
    margin-bottom: 4rem;
}

/* Historia*/

/* Mixin sin parametros */

@mixin textoHistoria{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    @include textoHistoria;
    margin: 50px;
    padding: 30px;
    border: solid 1px #99A799;
    border-radius: 4px;
    background-color: white;

        h2 {
            margin-top: 15px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
}

/* Extend */

.contenedorGaleria {
     @extend .contenedor;
     background-color: $azul-logo;
        h2 {
            color: $rojo-logo;
        }

}

/* Galeria Historia */

.imagenGaleria {
    width: 100%;
    height: 250px;
}

.gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "imagenUno imagenDos imagenTres"
        "imagenCuatro imagenCinco imagenSeis"
    ;
}

.imagenUno {
    grid-area: imagenUno;
}

.imagenDos {
    grid-area: imagenDos;
}

.imagenTres {
    grid-area: imagenTres;
}

.imagenCuatro {
    grid-area: imagenCuatro;
}

.imagenCinco {
    grid-area: imagenCinco;
}

.imagenSeis {
    grid-area: imagenSeis;
}

/*Actividades*/

.carousel-item p{
    background-color: $rojo-logo;
    color: floralwhite;
    text-transform: uppercase;
}

.carousel-item h5{
    background-color: $rojo-logo;
    color: floralwhite;
    text-transform: uppercase;
}

/*1927*/

#club1927 {
            a{
                font-size: 50px;
                text-transform: uppercase;
            }

            iframe{
                width: 476px;
                height: 476px;
            }
}

/*Contacto*/

.form{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

/*VISTA MOVIL*/ 

@media only screen and (max-width:320px) {

    .header{
        height: 150px;
    }
    
    #nav-link-a{
        text-decoration: none;
        text-transform: uppercase;
        color: floralwhite;
        font-weight: bold;
        font-size: 15px;
    }

    .logoHeader{
        max-height: 100px;
        max-width: 100px;
    }

    #inicio h2{
        background-color:$rojo-logo;
        color: white;
        font-size: 1rem;
        padding: 1rem;
    }
    
    #mapaGoogle{
        width: 240px;
        height: 180px;
    }


    .contenedor h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 0.9rem;
    }
    
    .contenedor p {
        font-size: 0.6rem;
    }

    .carousel-item h5{
        background-color: #C13930;
        color: floralwhite;
        text-transform: uppercase;
        font-size: 0.5rem;
    }

    #club1927 {
        a{
            font-size: 20px;
            text-transform: uppercase;
        }

        iframe{
            width: 150px;
            height: 150px;
        }
    }

    .gridPadre {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:fio
            "imagenUno"
            "imagenDos"
            "imagenTres"
            "imagenCuatro"
            "imagenCinco"
            "imagenSeis"
        ;

    }

    .imagenUno {
        grid-area: imagenUno;
    }

    .imagenDos {
        grid-area: imagenDos;
    }

    .imagenTres {
        grid-area: imagenTres;
    }

    .imagenCuatro {
        grid-area: imagenCuatro;
    }

    .imagenCinco {
        grid-area: imagenCinco;
    }

    .imagenSeis {
        grid-area: imagenSeis;
    }

}

/* VISTA TABLET*/ 
@media only screen and (min-width:321px) and (max-width:768px) {
    

    .header{
        height: 180px;
    }

    #nav-link-a{
        text-decoration: none;
        text-transform: uppercase;
        color: floralwhite;
        font-weight: bold;
        font-size: 20px;
    }

    .logoHeader{
        max-height: 150px;
        max-width: 150px;
    }

    #inicio h2{
        background-color: $rojo-logo;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }

    #mapaGoogle{
        width: 320px;
        height: 240px;
    }

    .contenedor h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    
    .contenedor p {
        font-size: 0.8rem;
    }
    
    .carousel-item h5{
        background-color: $rojo-logo;
        color: floralwhite;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    #club1927 {
        a{
            font-size: 30px;
            text-transform: uppercase;
        }

        iframe{
            width: 200px;
            height: 200px;
        }
    }

    .gridPadre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "imagenUno imagenDos"
            "imagenTres imagenCuatro"
            "imagenCinco imagenSeis"
        ;
    }

    .imagenUno {
        grid-area: imagenUno;
    }

    .imagenDos {
        grid-area: imagenDos;
    }

    .imagenTres {
        grid-area: imagenTres;
    }

    .imagenCuatro {
        grid-area: imagenCuatro;
    }

    .imagenCinco {
        grid-area: imagenCinco;
    }

    .imagenSeis {
        grid-area: imagenSeis;
    }

}

@import "./node_modules/bootstrap/scss/bootstrap.scss";
